/*Llamado al frame de colores*/
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
}
  
body {
    background: #33CCCC; /* Fallback */
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
    font-family: 'Mountains of Christmas', cursive;
}
h1 {
    text-align: center;
    font-family: 'Mountains of Christmas', cursive;
    font-size: 3em;
    color: white;
}
.col{
    border: 8px;
    margin: 20px;
}
input{
    border-radius: 2rem;
}
#bisiesto, #DayType{
    font-family: 'Akronim', cursive;
    font-size: 3rem;
}

.btnPredice{
    height: 30px;
    border: 1em;
    margin-right: 1em;
}
